.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: maroon;
}

.App-link {
  color: #61dafb;
}nav {
  display: flex;
  justify-content: center;
  margin: 20px;
}

nav a {
  margin: 0 10px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}

.favorite-button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.favorite-button.favorite {
  background-color: #ffcc00;
  border-color: #ffcc00;
}

.remove-button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ff4d4d;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  color: white;
}

.error-message {
  color: red;
  text-align: center;
  margin: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-bar input {
  margin: 0 10px;
  padding: 10px;
  font-size: 1em;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.restaurant-name {
  font-size: 1.2em;
  margin-top: 10px;
}